.navbar-nav>li>a.lang-menu{
    border: 1px solid #2E6DA4;
    border-radius: 4px;
    margin: 5px;
    padding: 5px;
}

.navbar-default nav.navbar-nav>li>a:hover{
    background: #337AB7 !important;
}